#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 20px;
  background-color: var(--primary-color);
}

header {
  padding-bottom: 20px;
}

.publisherInputs,
.authorInputs, .bookInputs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.addPublisher, .updatePublisher,
.addAuthor, .updateAuthor,
.addBook, .updateBook {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.publisherForm,
.authorForm, .bookForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}