#table-container {
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    overflow-x: hidden;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#header-cell {
    color: var(--text-color);
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

#delete-button, #update-button {
    text-align: right;
    max-width: 90px;
}

#body-cell, #action-cell {
    border: none;
    color: var(--text-color);
}

#action-buttons {
    max-width: 300px;
    display: flex;
    justify-content: center;
    gap: 10px;
    right: 0;
}
